@{
    ViewBag.Title = "Home Page";
}
<h1>Events</h1>
<p> The Purpose of the Application is make others  familiar with the various Olympic events in the Olympic games.This also include
    the description of the game and participation percent from   various countries all over the world</p>
<h1>Events Details</h1>
<p>
It also includes the events details within which We have top 2 players of all time .their Names and description and age is included in this application
</p>